@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  --bg: #000000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--bg);
  color: #fff;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.content {
  text-align: center;
}

.title {
  font-size: var(--fs);
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  background: var(--bg);
  margin: 0;
}

.subtitle {
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}



















body{
    /* background:#000; */
    font-family:'Poppins', sans-serif;
      margin: 0;
    padding: 0;
    /* background-image: url("images/Untitled\ design.jpg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/Untitled\ design.jpg");
    background-size: cover;        /* Makes image fill the screen */
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;  /* Prevents repeating */
    height: 100vh;  
    align-content: center;
}

/* Main Container */
.container{
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
}

/* Business Card */
.business-card{
    width:100%;
    max-width:360px;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:25px;
   box-shadow: 0 0 26px rgb(0 255 192 / 50%);
    transition:0.4s;
        border: 0.0625rem solid #0bb4df;
}

.business-card:hover{
    transform:scale(1.02);
    box-shadow:0 0 60px rgba(253, 253, 253, 0.7);
}

.card-img{
    width:100%;
    display:block;
}

/* Button Wrapper */
.btns{
    width:100%;
    max-width:230px;
    display:flex;
    flex-direction:column;
    gap:15px;
}

/* Buttons */
.btn{
    width:100%;
    padding:14px 0;
    border:none;
    outline:none;
    border-radius:30px;
    font-size:16px;
    color:#fff;
    cursor:pointer;
    text-align:center;
    background:linear-gradient(135deg,  #e429ff, #826bff);
    box-shadow:0 0 20px rgba(255,145,67,0.5);
    transition:0.3s;
    text-decoration:none;
}

.btn:hover{
    transform:translateY(-3px);
    box-shadow:0 0 30px rgba(248, 248, 247, 0.7);
}

/* -------------------------------------- */
/* RESPONSIVENESS */
/* -------------------------------------- */


/* mobile */
@media (max-width: 768px) {
    body {
        background-size: cover;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/Untitled\ design.jpg");
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;  /* Prevents repeating */
    height: 100vh;        
    }
    .btn{
        padding: 10px 0;
         border-width: 0.0625rem;
    background: rgba(22, 22, 22, 0.7);
    border: 0.0625rem solid #000;
     border-radius: 0.25rem;
      box-shadow: 0 3.25px 2px 0px rgb(187 179 173 / 44%);
      font-size: 14px;
    }
}



/*Tablet*/
@media (min-width: 600px){
    .container{
        padding:60px 20px;
    }
    .business-card{
        max-width:420px;
    }
    .btns{
        max-width:420px;
        gap:18px;
    }
    .btn{
        font-size:17px;
        padding:16px 0;
    }
}

/*Laptop / Desktop*/
@media (min-width: 992px){
    body{
       background-size: cover;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/Untitled\ design.jpg");
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;  /* Prevents repeating */
    height: 100vh;  
    }
.content{
    width: 100%;
}
    .container{
        padding-top:70px;
    }
    .business-card{
        max-width:480px;
    }
    .btns{
        max-width:480px;
        gap:20px;
    }
    .btn{
        padding:18px 0;
        font-size:18px;
        border-radius:40px;
    }
}

